.choice {
	width: 350px;
	height: 50px;
	border-radius: 10px;
	border: none;
	font-size: 1.2rem;
	margin: 15px 20px;
	box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
	font-family: $fontTextBolder;
	transition: all 0.3s ease;

	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.3);
		background-color: rgb(219, 219, 219);
	}

	&-active {
		cursor: pointer;
		width: 350px;
		height: 65px;
		border-radius: 10px;
		border: none;
		font-size: 1.2rem;
		margin: 15px 20px;
		box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
		font-family: $fontTextBolder;
		background-image: linear-gradient(to bottom, #4165a5 0%, #1e4180 100%);
		color: white;
	}
}

.choice2 {
	width: 350px;
	height: 50px;
	border-radius: 10px;
	border: 3px solid white;
	font-size: 1.2rem;
	margin: 15px 20px;
	box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
	font-family: $fontTextBolder;
	transition: all 0.3s ease;
	background-color: rgb(255, 255, 255, 0.4);

	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.3);
		background-color: rgb(219, 219, 219, 0.4);
	}

	&-active {
		cursor: pointer;
		width: 350px;
		height: 65px;
		border-radius: 10px;
		font-size: 1.2rem;
		margin: 15px 20px;
		box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
		font-family: $fontTextBolder;
		border: none;
		background-image: linear-gradient(to bottom, #4165a5 0%, #1e4180 100%);
		color: white;
	}
}

.issues-choice-group {
	flex-wrap: wrap;
	width: 65vw;
	text-align: center;
}

.choices {
	margin-left: auto;
	margin-right: auto;
}

.questionTitle {
	font-size: 4.5rem !important;
	margin-bottom: 20px !important;
}
