################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/eye-care-api/.vs
/.vs
eye-care-api/public/uploads
