//Chargement des données

.loading {
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 7px 20px;
	border-radius: 30px;
	color: $blueBlack;
	font-size: 2rem;
	font-weight: bold;

	body.dark & {
		color: $white;
	}
}

// INITIALES ET SALUTATION

.usernameContent {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	gap: 80px;
	display: flex;

	.initialsCard {
		position: relative;
		width: 10em;
		height: 10em;
		background-color: $white;
		line-height: 10em;
		text-align: center;
		border-radius: 15px;
		border: none;
		margin-left: auto;
		margin-right: auto;

		.initials {
			font-size: 5em;
			font-family: $fontTextBold;
		}

		.previewImage {
			position: relative;
			object-fit: cover;
			width: 10em;
			height: 10em;
			border-radius: 15px;
			background-color: $white;
		}
	}

	.photoProfileButton {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		margin: 10px auto 0 auto;
		border-radius: 15px;
		padding: 10px 15px;
		background: $white;
		color: $blueBlack;
		position: relative;
		gap: 10px;

		span {
			font-family: $fontBolder;
			font-size: 1.2em;
		}

		input[type="file"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	.usernameText {
		margin-left: auto;
		margin-right: auto;

		body.dark & {
			color: $white;
		}

		.hello {
			font-size: 1.5em;
			font-weight: bold;
			margin-top: 1em;
			font-family: $fontTextBold;
		}

		.username {
			font-size: 4.5em;
			font-family: $fontTextBold;
		}
	}
}

// VOS INFORMATIONS ET TESTS

.globalContent {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	justify-content: space-evenly;
	margin-top: 50px;
	margin-bottom: 50px;

	.profileContent {
		width: 35vw;

		.userInformationsContent {
			&.last {
				margin-top: 40px;
				margin-bottom: 20px;
			}

			body.dark & {
				color: $white;
			}

			.titleInformations {
				font-size: 2em;
				font-family: $fontBolder;
			}

			.userInformations {
				display: flex;
				align-items: center;
				gap: 10px;
				font-family: $fontTextNormal;
				font-size: 1.3em;
				margin-top: 10px;
				margin-bottom: 10px;

				&.last {
					margin-bottom: 10px;
				}

				.checkInformationsAcuity {
					color: $white;
					font-size: 0.8em;
					text-align: center;
					border: solid 3px $blueBlack;
					width: 22px;
					height: 22px;
					border-radius: 15px;

					body.dark & {
						border: solid 3px $white;
						color: $blueBlack;
					}

					&.done {
						background-color: $blueBlack;

						body.dark & {
							background-color: $white;
						}
					}
				}

				.checkInformationsDMLA {
					color: $white;
					font-size: 0.8em;
					text-align: center;
					border: solid 3px $blueBlack;
					width: 22px;
					height: 22px;
					border-radius: 15px;

					body.dark & {
						border: solid 3px $white;
						color: $blueBlack;
					}

					&.done {
						background-color: $blueBlack;

						body.dark & {
							background-color: $white;
						}
					}
				}

				.checkInformationsIshihara {
					color: $white;
					font-size: 0.8em;
					text-align: center;
					border: solid 3px $blueBlack;
					width: 22px;
					height: 22px;
					border-radius: 15px;

					body.dark & {
						border: solid 3px $white;
						color: $blueBlack;
					}

					&.done {
						background-color: $blueBlack;

						body.dark & {
							background-color: $white;
						}
					}
				}
			}

			.buttonsInformations {
				display: flex;
				gap: 20px;

				.buttonInformations {
					display: flex;
					align-items: center;
					margin-bottom: 20px;
					margin-top: 10px;
					gap: 10px;
					position: relative;
					width: fit-content;
					padding: 10px 25px;
					border-radius: 12px;
					font-size: 1.2rem;
					font-family: $fontBolder;
					overflow: hidden;
					box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
					color: $white;
					z-index: 1;
					border: none;
					cursor: pointer;

					&.danger {
						background: $red;

						&::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgb(172, 0, 0);
							z-index: -1;
							opacity: 0;
							transition: opacity 0.3s ease-out;
						}
					}

					&.modify {
						background: $blueStrongDegrade;

						&::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: $blueStrongDegradeHover;
							z-index: -1;
							opacity: 0;
							transition: opacity 0.3s ease-out;
						}
					}

					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: $blueStrongDegradeHover;
						z-index: -1;
						opacity: 0;
						transition: opacity 0.3s ease-out;
					}

					&:hover::before {
						opacity: 1;
					}
				}
			}
		}
	}

	// Résumé problèmes oculaires

	.ocularIssuesContentPlus {
		display: flex;
		flex-direction: column;

		.ocularIssuesContent {
			width: 35vw;
			background-color: $blueBlack;
			border-radius: 1em;
			display: flex;
			flex-direction: column;
			height: fit-content;
			padding-bottom: 0.3rem;

			body.dark & {
				background-color: $blueLight;
				box-shadow: $boxShadowBlue;
			}

			.titleIssues {
				text-align: center;
				font-family: $fontBolder;
				font-size: 2em;
				color: $white;
				margin-top: 20px;
				margin-bottom: 20px;

				body.dark & {
					color: $blueBlack;
				}
			}

			.ocularIssues {
				background-color: $white;
				margin: 0 5px;
				padding: 20px;
				border-radius: 0 0 0.9em 0.9em;
				display: flex;
				flex-direction: column;
				gap: 15px;

				body.dark & {
					background-color: $blueBlack;
				}

				.ocularIssue {
					display: flex;
					justify-content: space-between;
					background-color: $blueBlack;
					border-radius: 15px;
					padding: 10px 15px;
					align-items: center;
					box-shadow: $white 0px 0px 10px;
					z-index: 3;
					cursor: pointer;

					body.dark & {
						background-color: $blueLight;
						box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
					}

					.ocularIssueMain {
						display: flex;
						gap: 10px;
						align-items: center;

						.ocularIssueIndicator {
							width: 1em;
							height: 1em;
							border-radius: 100%;
							font-size: 1.2em;

							&.danger {
								background-color: $red;
							}

							&.warning {
								background-color: $orange;
							}

							&.medium {
								background-color: $yellow;
							}

							&.good {
								background-color: $green;
							}
						}
					}

					.chevron {
						color: $white;
						font-size: 1.5em;

						body.dark & {
							color: $blueBlack;
						}
					}
				}

				.ocularIssuesTextNoTest {
					text-align: center;
					font-family: $fontTextBolder;
					font-size: 1.2em;

					body.dark & {
						color: $white;
					}
				}

				.ocularIssueDetails {
					width: 90%;
					margin: 0 auto;
					background-color: $blueBlack;
					border-radius: 0 0 10px 10px;
					padding: 15px;
					color: $white;
					overflow: hidden;
					max-height: 0;
					transition: max-height 1s ease-in-out;
					display: none;

					.ocularIssueNote {
						font-family: $fontNormal;
						font-size: 1.2em;
						color: $white;

						body.dark & {
							color: $blueBlack;
						}
					}

					.ocularIssueText {
						margin-top: 10px;
						font-family: $fontTextNormal;
						font-size: 1.1em;
						color: $white;

						body.dark & {
							color: $blueBlack;
						}
					}

					&.openMyopie {
						display: block;
						max-height: 300px;

						body.dark & {
							background-color: $blueLight;
							color: $blueBlack;
							box-shadow: none;
						}
					}

					&.openDaltonisme {
						display: block;
						max-height: 300px;

						body.dark & {
							background-color: $blueLight;
							color: $blueBlack;
							box-shadow: none;
						}
					}
				}

				.ocularIssuesTitle {
					font-family: $fontBolder;
					color: $white;
					font-size: 1.4em;

					body.dark & {
						color: $blueBlack;
					}
				}
			}
		}

		.ocularIssuesTextWarning {
			margin-top: 20px;
			width: 35vw;
			text-align: center;
			font-family: $fontTextBolder;
			font-size: 1.2em;

			body.dark & {
				color: $white;
			}
		}
	}
}
