.switch {
  position: relative;
  width: 85px;
  height: 35px;
  display: flex;
  align-items: center;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider::before {
      transform: translateX(0%);
      opacity: 1;
    }

    &:checked + .slider::after {
      transform: translateX(0%);
      opacity: 0;
    }
  }

  .sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    color: $white;
    font-size: 1.6rem;
    z-index: 1;

    body.dark & {
      color: $black;
    }
  }

  .moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    color: $white;
    font-size: 1.6rem;
    z-index: 1;
  }

  .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      border-radius: 30px;
      background: $sunDegrade;
      opacity: 1;
      transform: translateX(100%);
      transition: all 0.3s ease-out;
      z-index: 0;
    }

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      border-radius: 30px;
      background: $nightDegrade;
      transform: translateX(100%);
      transition: all 0.3s ease-out;
      opacity: 0;
    }
  }
}
